<h1>Контакты</h1>
 
  <body>
<div class="position-fixed position-absolute top-50 end-0 translate-middle-y card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <!--            <img src="img_foto.jpg" class="img-fluid rounded-start" alt="...">   -->
      <%= image_tag "img_foto.jpg" %>
    </div>
    <div class="col-md-8">
      <div class="text-center">
        <h3 class="card-title">Геннадий</h3>
        <h4 class="text">+7 910 942 2002<br>+7 930 899 1111</h4>
        <h4 class="card-text">Адрес: г. Тула,<br>Центральный р-он, ул. Морозова 2 Б</h4>
      </div>
    </div>
  </div>
</div>
</div><br>

<%= image_tag "location.jpg" %>

<div style="position:relative;overflow:hidden;">
  <a href="https://yandex.ru/maps/15/tula/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Тула</a>
  <a href="https://yandex.ru/maps/15/tula/?from=tabbar&ll=37.631499%2C54.183446&panorama%5Bdirection%5D=247.344721%2C-0.920192&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=37.631833%2C54.183695&panorama%5Bspan%5D=38.601108%2C22.658345&source=serp_navig&utm_medium=mapframe&utm_source=maps&z=19.78" style="color:#eee;font-size:12px;position:absolute;top:14px;">Тула — Яндекс Карты</a>
  <iframe src="https://yandex.ru/map-widget/v1/-/CCUNNCxv0A" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>

</body>