<h1 class="subtitle is-2 has-text-centered">Адрес и контакты</h1>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <%= image_tag "img_foto.jpg" %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
        <strong>Геннадий</strong> <small>example@mail.com</small>
        <br>
        </p>
        <p>
        <strong>Мои контакты</strong>
        <br> 
        +7 910 942 2002
        <br>
        +7 930 899 1111
        </p>
      </div>
    </div>
  </article>
</div>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag "location.jpg" %>
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      
      <div class="columns mt-4">
        <div class="column is-7">
          <h4 class="card-text">Адрес: г. Тула,<br>Центральный р-он, ул. Морозова 2 Б</h4>
        </div>
        <div class="column">
          <%= link_to "Открыть ЯНДЕКС карты", 'https://bit.ly/3EDUnSX', class: "button is-danger is-outlined" %> 
        </div>
      </div>
    
    </div>
    </div>
</div>
</div>

