<h1>Редактирование сообщения</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Показать сообщение", @article %> |
  <%= link_to "Показать все сообщения", articles_path %>
</div>
