<p style="color: green"><%= notice %></p>

<h1>Создайте новое сообщение</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Показать сообщение", article, class: "button is-primary" %>
    </p>
  <% end %>
</div>

<br>

<%= link_to "Нажмите для создания нового сообщения", new_article_path, style: "color: yelow", class: "button is-info" %>
