<h1>Editing brand ecu</h1>

<%= render "form", brand_ecu: @brand_ecu %>

<br>

<div>
  <%= link_to "Show this brand ecu", @brand_ecu %> |
  <%= link_to "Back to brand ecus", brand_ecus_path %>
</div>
