<h1 class="title is-3">Список пользователей</h1>

<% @users.each do |user| %>
  <div class="box">
    <div class="columns is-vcentered">
      <div class="column is-8">
        <%= render user %>
      </div>  
      <div class="column">
        <%= link_to "Посмотреть", user, class: "button mx-5" %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Пользователи онлайн', online_users_users_path %>
