<div class="columns is-centered">
  <div class="column is-8" >
    <h1 class="title is-3 has-text-centered mb-6">Добавить клиента</h1>
    <%= render "form", client: @client %> 
  </div>  
</div>


