
<div class="columns">
  <div class="column">
    <h1 class="subtitle is-2">Список чатов</h1>
    <ul>
      <% @chats.each do |chat| %> 
        <li class="my-2"><%= link_to chat.name, chat_path(chat), class: "link" %></li>  
      <% end %> 
    </ul>
  </div>
  <div class="column has-background-black ">
    <div class="">
      <% if @single_chat %> 
        <h4 class="subtitile is-4 has-text-centered has-text-white"><%= @single_chat.name %></h4>
      <% end %> 
    </div>   
  </div>
</div>



