<table>
  <td>
    <th>Проблемы</th>
    <th>Выполненая работа</th>
    <th>Стоимость</th>
    <th>Статус</th>
    <th>Действия</th>
  </td>
  <tr>
    <td>
      <%= order.problem %> 
    </td>
    <td>
      <%= order.work_description %> 
    </td>
    <td>
      <%= order.price %>    
    </td>
    <% if order.status %> 
      <td>Ордер выполнен</td>
    <% else %> 
      <td>На выполнении</td>
    <% end %> 
    <td>
    </td>
  </tr>
</table>
