<h1>Editing model ecu</h1>

<%= render "form", model_ecu: @model_ecu %>

<br>

<div>
  <%= link_to "Show this model ecu", @model_ecu %> |
  <%= link_to "Back to model ecus", model_ecus_path %>
</div>
