<h3 class="title is-2 has-text-centered">Список всех машин </h3>

<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Показать машину", car, class: "button" %>
    </p>
  <% end %>
</div>

<%= link_to "Добавить машину", new_car_path, class: "button" %>
