
<div class="columns is-centered is-multiline">
  <div class="column is-10">
    <h1 class="title is-2 mb-6 has-text-centered">Добавить машину</h1>
    <%= render "form", car: @car %>
  </div>
  <div class="column is-10">
  <%= link_to "Список машин", cars_path, class: "button" %>
  <%= link_to "Ввести новую модель а/м", models_path, class: "button" %>
  <%= link_to "Редактировать марку а/м", makes_path, class: "button" %> 
  </div>
</div>

  
