<div class="columns is-centered is-multiline">
  <div class="column is-10">
    <h1 class="title is-2 mb-6 has-text-centered">Добавить машину</h1>
    <%= render "form", car: @car %>
  </div>
  
  
</div>