<h1>New car</h1>

<%= render "form", car: @car %>

<br>

<div>
  <%= link_to "Back to cars Показать список а/м", cars_path %> |
  <%= link_to "Ввести новую модель а/м", models_path %> |
  <%= link_to "Редактировать марку а/м", makes_path %> 

</div>
