<div id="<%= dom_id the_file %>">
  <p>
    <strong>File:</strong>
    <%= link_to the_file.file.filename, the_file.file if the_file.file.attached? %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= the_file.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= the_file.text %>
  </p>

</div>
